@namespace Oqtane.ChatHubs

@using System.IO
@using Blazor.FileReader

@inherits FileReaderBase

@inject IFileReaderService fileReaderService

<style>
    .droptarget {
        display: block;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px dashed black;
        border-radius: 0px;
    }

    .droptarget-drag {
        border-color: orangered;
        font-weight: bold;
    }
</style>

<div class="@DropClass"
     @ref=dropTargetElement
     @ondrop=OnDrop
     @ondragenter=OnDragEnter
     @ondragleave=OnDragLeave>
    Drop Files here.
    @foreach (var fileInfo in FileList)
    {
        <br />@fileInfo.Name
    }
</div>

<input id="additive" type="checkbox" value=@Additive @onchange="OnAdditiveChange" />
<label for="additive">Additive</label>

<br />

<button @onclick="ReadFile" class="btn btn-primary">Bild(er) hochladen</button>
<button @onclick="ClearFile" class="btn btn-primary">Clear</button>

<div class="alert alert-info my-2">
    Max. 3 Images / Upload.
</div>

<textarea class="my-2" style="max-width: 100%;" cols="50" rows="5">@Output</textarea>

@code {


}
